<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <div class="jumbotron-full">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">MODIFY ME</h1>
      <!--MODIFY ME-->
      <p class="lead">MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY
        ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME </p>
      <!--MODIFY ME-->
    </header>
    <!-- Page Features -->
    <div class="row text-center">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <!--MODIFY ME-->
          <div class="card-body">
            <h4 class="card-title">MODIFY ME</h4>
            <!--MODIFY ME-->
            <p class="card-text">MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY
              ME MODIFY ME MODIFY ME </p>
            <!--MODIFY ME-->
          </div>
          <div class="card-footer">
            <a href="#MODIFY ME" class="btn btn-primary btn-lg">MODIFY ME</a>
            <!--MODIFY ME -->
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <!--MODIFY ME-->
          <div class="card-body">
            <h4 class="card-title">MODIFY ME</h4>
            <!--MODIFY ME-->
            <p class="card-text">MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY
              ME MODIFY ME MODIFY ME </p>
            <!--MODIFY ME-->
          </div>
          <div class="card-footer">
            <a href="#MODIFY ME" class="btn btn-primary btn-lg">MODIFY ME</a>
            <!--MODIFY ME -->
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <!--MODIFY ME-->
          <div class="card-body">
            <h4 class="card-title">MODIFY ME</h4>
            <!--MODIFY ME-->
            <p class="card-text">MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY
              ME MODIFY ME MODIFY ME </p>
            <!--MODIFY ME-->
          </div>
          <div class="card-footer">
            <a href="#MODIFY ME" class="btn btn-primary btn-lg">MODIFY ME</a>
            <!--MODIFY ME -->
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <!--MODIFY ME-->
          <div class="card-body">
            <h4 class="card-title">MODIFY ME</h4>
            <!--MODIFY ME-->
            <p class="card-text">MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY
              ME MODIFY ME MODIFY ME </p>
            <!--MODIFY ME-->
          </div>
          <div class="card-footer">
            <a href="#MODIFY ME" class="btn btn-primary btn-lg">MODIFY ME</a>
            <!--MODIFY ME -->
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->
  </div>
  <div class="footer-copyright text-center text-black-50 ">© 2020 Copyright:
    <a> GMayaS C:\>Desarrollo en Sistemas.</a>
  </div>
</body>

</html>