<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personajes</title>
</head>

<body>
  <div class="jumbotron-full-bg">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">MODIFY ME</h1>
    </header>
    <!-- Page Features -->
    <div class="row text-center">
      <div class="col">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <!--MODIFY ME-->
          <div class="card-body">
            <h4 class="card-title">MODIFY ME</h4>
            <!--MODIFY ME-->
            <p class="card-text">MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY ME MODIFY
              ME MODIFY ME MODIFY ME </p>
            <!--MODIFY ME-->
          </div>
          <div class="card-footer">
            <a href="#MODIFY ME" class="btn btn-primary">MODIFY ME</a>
            <!--MODIFY ME -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <div class="footer-copyright text-center text-black-50 ">© 2020 Copyright:
    <a> GMayaS C:\>Desarrollo en Sistemas.</a>
  </div>
</body>

</html>
